/*header*/
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
.header .ps-fondo {
  width: 100%;
  float: left;
  background-color: #000;
}
.header .ps-fondomenu {
  background: linear-gradient(#0094f0, #01277c);
  width: 100%;
  float: left;
  height: 55px;
}
.header .ps-fondomenu .ps-MegaNav {
  width: 100%;
  float: left;
}
.header .ps-fondomenu .ps-MegaNav .ps-imagenlogo a img {
  width: 30px;
}
.header .ps-fondomenu .ps-MegaNav .ps-imagenlogo a:focus {
  background-color: #01277c;
}
.header .ps-fondomenu .ps-MegaNav .ps-imagenlogo a:hover {
  background-color: #01277c;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown {
  position: static !important;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .boton {
  background-color: #2670bd;
  margin-top: 12px;
  border: 3px solid #2673bf;
  color: #fff;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown a {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown a:focus {
  background-color: #01277c;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown a:hover {
  background-color: #01277c;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu {
  padding: 20px 15px;
  text-align: center;
  width: 120%;
  background: linear-gradient(#01277c, #0094f0);
  border: 0px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .nav-list {
  display: inline-flex;
  list-style-type: none;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .nav-list li {
  margin-left: 20px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .nav-list a {
  color: #fff;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .nav-list a:hover {
  list-style-type: none;
  color: #38baf7;
  background-color: transparent;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .nav-list a span {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  font-size: 6px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .nav-list .imagenhelp {
  width: 80px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .ps-ListaStore {
  width: 100%;
  float: left;
  text-align: left;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .ps-ListaStore h3 {
  color: #38baf7;
  padding-left: 35px;
  font-size: 14px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .ps-ListaStore .ps-listnav {
  list-style-type: none;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenido .ps-ListaStore .ps-listnav li a svg {
  margin-right: 5px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos {
  width: 100%;
  float: left;
  display: inline-flex;
  list-style-type: none;
  border-top: 2px solid rgba(255,255,255,0.3);
  margin-top: 20px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos .ps-navlist {
  display: inline-flex;
  list-style-type: none;
  margin: 20px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos .ps-navlist li {
  padding: 0px 20px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos .ps-navlist li .imagen {
  float: left;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos .ps-navlist li a img {
  width: 30px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos .ps-navlist li a span {
  float: right;
  margin-top: 15px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos a img {
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
}
.header .ps-fondomenu .ps-MegaNav .mega-dropdown .mega-dropdown-menu .ps-contenidoDos a:hover {
  list-style-type: none;
  color: #38baf7;
  background-color: transparent;
}
.header .ps-fondomenu .ps-MegaNav .ps-formulario {
  margin: 8px;
}
.header .ps-fondomenu .ps-MegaNav .ps-formulario input {
  background-color: #363636;
  border: 0px;
  border-radius: 0px;
}
.header .ps-fondomenu .ps-MegaNav .ps-formulario span {
  background-color: #363636;
  border: 0px;
}
.header .ps-fondomenu .ps-MegaNav .ps-formulario span button {
  color: #fff;
  background-color: #363636;
}
.ps-infoestadoplay {
  margin: 50px 0;
  float: left;
  width: 100%;
}
.ps-infoestadoplay h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #363636;
}
.ps-infoestadoplay h3 {
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  color: #0068bf;
  font-family: "adelle", Georgia;
  font-style: italic;
}
.ps-infoestadoplay h3 p {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin: 0;
}
.ps-infoestadoplay p {
  margin: 20px 0;
}
.ps-infoestadoplay a {
  background-color: #0087e0;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  font-size: 10px;
  padding: 10px 20px;
}
.ps-infoestadoplay a:hover {
  background-color: #003087;
  color: #fff;
}
.ps-slider {
  float: left;
  width: 100%;
}
.ps-imgplus {
  float: left;
  width: 100%;
}
.ps-weconect {
  float: left;
  width: 100%;
}
.ps-playgames {
  width: 100%;
  float: left;
  margin: 20px 0;
}
.ps-playgames .ps-title {
  margin: 25px 0;
}
.ps-playgames .ps-title h2 {
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  color: #0068bf;
  font-style: italic;
  font-size: 20px;
}
.ps-playgames .ps-title h3 {
  font-weight: 700;
  margin: 0;
  color: #363636;
  font-size: 30px;
}
.ps-playgames .ps-recuadrolg {
  padding: 20px 15px;
}
.ps-playgames .ps-recuadrolg:hover {
  background-color: #363636;
  color: #fff;
  cursor: pointer;
}
.ps-playgames .ps-recuadrosm {
  padding: 25px 15px;
}
.ps-playgames .ps-recuadrosm:hover {
  background-color: #363636;
  color: #fff;
}
.ps-playgames .ps-textGames h4 {
  font-size: 12px;
  color: #0068bf;
}
.ps-playgames .ps-textGames h5 {
  font-weight: 700;
  font-size: 12px;
  margin-top: 0px;
}
.ps-playgames .ps-textGames p {
  color: #fff;
  font-size: 10px;
}
.ps-ExpeIncreibles .ps-experiencia {
  width: 100%;
  float: left;
}
.ps-ExpeIncreibles .ps-ExpeIncre {
  margin: 25px 0;
}
.ps-ExpeIncreibles .ps-ExpeIncre h2 {
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  color: #0068bf;
  font-style: italic;
  font-size: 20px;
}
.ps-ExpeIncreibles .ps-ExpeIncre h3 {
  font-weight: 700;
  margin: 0;
  color: #363636;
  font-size: 30px;
}
.ps-ExpeIncreibles .ps-GamesIncre {
  float: left;
  margin: 20px 0;
  width: 100%;
}
.ps-ExpeIncreibles .ps-GamesIncre .col-md-4 {
  border-right: 1px solid #d3d3d3;
}
.ps-ExpeIncreibles .ps-GamesIncre .col-md-4:last-child {
  border: none;
}
.ps-ExpeIncreibles .ps-GamesIncre .col-md-4 .ps-cuadrotext {
  padding-bottom: 30px;
}
.ps-ExpeIncreibles .ps-GamesIncre .col-md-4 .ps-cuadrotext .ps-imgGamesNew {
  padding-left: 20px;
}
.ps-ExpeIncreibles .ps-GamesIncre .ps-textGamesNew h4 {
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  color: #0068bf;
  font-family: "adelle", Georgia;
  font-style: italic;
  font-size: 18px;
}
.ps-ExpeIncreibles .ps-GamesIncre .ps-textGamesNew h5 {
  font-weight: 700;
  margin: 5px;
  color: #363636;
  font-size: 18px;
}
.ps-ExpeIncreibles .ps-GamesIncre .ps-textGamesNew {
  padding-top: 20px;
}
.ps-ExpeIncreibles .ps-GamesIncre .Boton a {
  background-color: #0087e0;
  color: #fff;
  border-radius: 0px;
  margin-bottom: 60px;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: 700;
}
.ps-weconect .ps-titleRed {
  margin-bottom: 30px;
  width: 100%;
  float: left;
}
.ps-weconect .ps-titleRed .ps-textTitle {
  margin: 40px 0;
}
.ps-weconect .ps-titleRed .ps-textTitle h2 {
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  color: #0068bf;
  font-style: italic;
  font-size: 20px;
}
.ps-weconect .ps-titleRed .ps-textTitle h3 {
  font-weight: 700;
  margin: 0;
  color: #363636;
  font-size: 30px;
}
.ps-weconect .ps-titleRed .ps-contenido {
  background-color: #f5f5f5;
  margin: 5px;
  float: left;
  height: 150px;
  width: 90%;
}
.ps-weconect .ps-titleRed .ps-contenido .img-redsocial {
  margin-top: 20px;
}
.ps-weconect .ps-titleRed .ps-contenido .ps-TextoInfo {
  padding-right: 30px;
}
.ps-weconect .ps-titleRed .ps-contenido .ps-TextoInfo h3 {
  font-size: 13px;
  font-weight: 700;
}
.ps-weconect .ps-titleRed .ps-contenido .ps-TextoInfo p {
  font-size: 10px;
}
.ps-footer {
  background: linear-gradient(to right, #01439a, #0094f0, #01439a);
  width: 100%;
  float: left;
}
.ps-footer .ps-contenido {
  width: 100%;
  float: left;
  margin: 20px;
}
.ps-footer .ps-contenido .Logo {
  margin: 15px;
}
.ps-footer .ps-contenido .Lista {
  margin: 20px 100px 0 0;
  display: inline;
}
.ps-footer .ps-contenido .Lista li {
  margin-right: 5px;
  border-right: 2px solid rgba(255,255,255,0.3);
  display: inline;
}
.ps-footer .ps-contenido .Lista li a {
  font-size: 8px;
  font-weight: 700;
  color: #fff;
  padding: 0 5px;
}
.ps-footer .ps-contenido .Volver {
  padding-top: 8px;
}
.ps-footer .ps-contenido .Volver a {
  color: #fff;
}
.ps-footer .copy-segurity .copy span {
  margin-left: 80px;
  color: #38baf7;
  font-size: 9px;
}
.ps-footer .copy-segurity .imagencopy {
  float: right;
  padding-right: 32px;
}
.ps-footer .ps-pais a {
  color: #fff;
  float: right;
  padding: 20px 48px;
  font-weight: 700;
  font-size: 11px;
}
.ps-footer .ps-pais a i {
  width: 20px;
}
